.layoutContainer {
  background-color: #fff;
  padding: 5px;
  border: 2px solid #e6e6e6 !important;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.boxShadow {
  box-shadow: 0 0 0px 0px rgba(63, 63, 68, 0.05),
    0 0px 0px 0 rgba(63, 63, 68, 0.15) !important;
}

.mainContainer {
  margin: auto;
  max-width: 1500px;
}

.marginLeft {
  margin-left: 20px;
}

.container-border {
  border: 1px solid #e6e6e6;
}

.tabStyle {
  float: left;
}

.menubarContainer {
  padding: 0px;
}

.addPadding {
  padding-right: 20px;
  padding-left: 20px;
}

.addPaddingTopBottom {
  padding-top: 20px;
  padding-bottom: 20px;
}

.menuBackground:hover {
  background: #eeeeee;
}

.cardMarginTop {
  margin-top: 10px;
}

.cardSpacingTop {
  border: 2px solid #e6e6e6;
  margin-top: 5px;
}

.btnContainer {
  justify-content: flex-end;
  display: flex;
  flex-flow: row;
}

.floatingBtnContainer {
  margin-right: auto;
}

.orangeColor {
  background-color: #ef6c00;
}
